html {
   display:flex;
}
body {
    width: 100vh;
    height: 100vh;
    padding: 4px;
    margin: 0 auto;
    width: 1fr;
    height: 1fr;
    background-image: url(tibia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#labirinto {
    display: grid;
    /* são 21 colunas */
    grid-template-columns: repeat(21, calc(100vh/21));
    /* são 15 linhas */
    grid-template-rows: repeat(15, calc(100vh/15));
}

#parede {
    
    background-image: url(Lava_Tile.gif);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#start {
    
    
    background-image: url(Hero.gif);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#final {
    
    background-image: url(goldenhelmet1.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#vazio {
    background-color: transparent;
    background-image: url(pisotibia.gif);
    background-size: cover;
    background-repeat: no-repeat;
    animation: 0,4s infinite;
}